[Desktop Entry]
Version=1.0
Type=Application
Name=Neovide
GenericName=Neovide
Icon=/home/chris/dotfiles/icons/neovide.png
Exec=/home/chris/.cargo/bin/neovide
Terminal=false
