[Unit]
Description=Starts hyprswitch Daemon
PartOf=graphical-session.target
After=graphical-session.target
StartLimitIntervalSec=600
StartLimitBurst=60
ConditionPathExists=/etc/hyprland-enabled

[Service]
Type=simple
ExecStart=/usr/bin/hyprswitch init
Restart=always
RestartSec=2
Environment=LD_LIBRARY_PATH=/usr/local/lib64
