(
    selected_tab: Some(Rgb(195,202,209)), //#c3cad1
    command_fg: Some(Rgb(195,202,209)), //#c3cad1
    selection_bg: Some(Rgb(46,67,110)), //#2e436e
    selection_fg: Some(Rgb(195,202,209)), //#c3cad1
    cmdbar_bg: Some(Rgb(43,45,48)), //#2b2d30
    cmdbar_extra_lines_bg: Some(Rgb(86,168,245)), //#56a8f5
    disabled_fg: Some(Rgb(122,126,133)), //#7a7e85
    diff_line_add: Some(Rgb(106,171,115)), //#6aab73
    diff_line_delete: Some(Rgb(247,84,100)), //#f75464
    diff_file_added: Some(Rgb(106,171,115)), //#6aab73
    diff_file_removed: Some(Rgb(247,84,100)), //#f75464
    diff_file_moved: Some(Rgb(199,125,187)), //#c77dbb
    diff_file_modified: Some(Rgb(213,183,120)),

    // commit_hash: Some(Rgb(199,125,187)), //#c77dbb
    // commit_time: Some(Rgb(111,175,189)), //#6fafbd
    // commit_author: Some(Rgb(106,171,115)), //#6aab73

    commit_hash: Some(Rgb(86,168,245)), //#56a8f5
    commit_time: Some(Rgb(86,168,245)), //#56a8f5
    commit_author: Some(Rgb(122,126,133)), //#7a7e85

    danger_fg: Some(Rgb(247,84,100)), //#f75464
    push_gauge_bg: Some(Rgb(86,168,245)), //#56a8f5
    push_gauge_fg: Some(Rgb(43,45,48)), //#2b2d30
    tag_fg: Some(Rgb(199,125,187)), //#c77dbb
    branch_fg: Some(Rgb(207,142,109)), //#CF8E6D
    // line_break: Some("".to_string()),
)
