[Unit]
Description=OrcaSlicer 3D printing slicer with web interface
After=network-online.target
Wants=network-online.target

[Container]
Image=quay.io/ckyrouac/orcaslicer:latest
GlobalArgs=--storage-opt=additionalimagestore=/usr/lib/bootc/storage
PublishPort=3001:3001
Environment=GDK_SCALE=2
Environment=GDK_DPI_SCALE=0.50
Volume=/var/home/chris/orcaslicer:/config
PodmanArgs=--shm-size=1gb --gpus all --env-file /run/orcaslicer.env
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900
LoadCredentialEncrypted=cf_token:/var/home/chris/.secrets/orcaslicer-cf-token.encrypted
ExecStartPre=/bin/sh -c 'umask 077 && printf "CF_TOKEN=" > /run/orcaslicer.env && cat %d/cf_token >> /run/orcaslicer.env'
ExecStopPost=/bin/rm -f /run/orcaslicer.env

[Install]
WantedBy=multi-user.target default.target
