name: Build and Push Fedora Dev Bootc Image

permissions:
  packages: write

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master

env:
  IMAGE_REGISTRY: ghcr.io
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Log in to Quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: ${{ env.IMAGE_REGISTRY }}

      - name: Build base
        run: |
          set -euxo pipefail
          sudo apt -y install podman
          podman build -t ghcr.io/ckyrouac/dotfiles/bootc-base:latest .
          podman push ghcr.io/ckyrouac/dotfiles/bootc-base:latest

      - name: Build desktop
        run: |
          set -euxo pipefail
          podman run --rm --privileged \
            -v $(pwd):/workspace \
            -w /workspace \
            quay.io/fedora/fedora-bootc:43 \
            sh -c "podman build -t localhost/bootc-desktop:latest -f Desktop.containerfile . && rpm-ostree compose build-chunked-oci --bootc --from=localhost/bootc-desktop:latest --output=oci-archive:bootc-desktop-chunked.tar --format-version=2"
          IMAGE_ID=$(podman load -i bootc-desktop-chunked.tar | grep -oP 'Loaded image.*: \K.*')
          podman tag "$IMAGE_ID" ghcr.io/${{ github.repository }}/bootc-desktop:chunked
          podman push ghcr.io/${{ github.repository }}/bootc-desktop:chunked
          podman rmi "$IMAGE_ID" ghcr.io/${{ github.repository }}/bootc-desktop:chunked
          rm bootc-desktop-chunked.tar

      - name: Build thinkpad
        run: |
          set -euxo pipefail
          podman run --rm --privileged \
            -v $(pwd):/workspace \
            -w /workspace \
            quay.io/fedora/fedora-bootc:43 \
            sh -c "podman build -t localhost/bootc-thinkpad:latest -f Thinkpad.containerfile . && rpm-ostree compose build-chunked-oci --bootc --from=localhost/bootc-thinkpad:latest --output=oci-archive:bootc-thinkpad-chunked.tar --format-version=2"
          IMAGE_ID=$(podman load -i bootc-thinkpad-chunked.tar | grep -oP 'Loaded image.*: \K.*')
          podman tag "$IMAGE_ID" ghcr.io/${{ github.repository }}/bootc-thinkpad:chunked
          podman push ghcr.io/${{ github.repository }}/bootc-thinkpad:chunked
          podman rmi "$IMAGE_ID" ghcr.io/${{ github.repository }}/bootc-thinkpad:chunked
          rm bootc-thinkpad-chunked.tar
