name: Build and Push Fedora Dev Bootc Image

permissions:
  packages: write

on:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@1.3.1
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/bootc-base:latest
          file: ./Containerfile
          build-args: |
              email=${{ secrets.EMAIL  }}
              user=chris

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/bootc-desktop:latest
          file: ./Desktop.containerfile
          build-args: |
              email=${{ secrets.EMAIL  }}
              user=chris

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/bootc-thinkpad:latest
          file: ./Thinkpad.containerfile
          build-args: |
              email=${{ secrets.EMAIL  }}
              user=chris

      - name: Log out from GitHub Container Registry
        run: docker logout ghcr.io

  rechunk:
    runs-on: ubuntu-latest
    needs: build-and-push
    container: quay.io/coreos-assembler/fcos-buildroot:testing-devel
    steps:
      - name: Install Deps
        run: |
          set -euxo pipefail
          sudo dnf -y install podman
      - name: Log in to GitHub Container Registry
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Rechunk base
        run: |
          set -euxo pipefail
          rpm-ostree compose build-chunked-oci --bootc --from=ghcr.io/${{ github.repository }}/bootc-base:latest --output=containers-storage:ghcr.io/${{ github.repository }}/bootc-base:chunked --format-version=2
          podman push ghcr.io/${{ github.repository }}/bootc-base:chunked

      - name: Rechunk desktop
        run: |
          set -euxo pipefail
          rpm-ostree compose build-chunked-oci --bootc --from=ghcr.io/${{ github.repository }}/bootc-desktop:latest --output=containers-storage:ghcr.io/${{ github.repository }}/bootc-desktop:chunked --format-version=2
          podman push ghcr.io/${{ github.repository }}/bootc-desktop:chunked

      - name: Rechunk thinkpad
        run: |
          set -euxo pipefail
          rpm-ostree compose build-chunked-oci --bootc --from=ghcr.io/${{ github.repository }}/bootc-thinkpad:latest --output=containers-storage:ghcr.io/${{ github.repository }}/bootc-thinkpad:chunked --format-version=2
          podman push ghcr.io/${{ github.repository }}/bootc-thinkpad:chunked

      - name: Log out from GitHub Container Registry
        run: podman logout ghcr.io
